*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgb(199, 192, 162), rgb(85, 39, 5));
  height: 100vh;
  overflow-x: hidden;
}

nav, footer {
  height: 10vh;
  width: 100vw;
  background-color: rgb(31, 28, 18,0.9);
  color: rgb(199, 192, 162);
}

nav {
  display:flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
}
footer h4 {
  margin-top: 1rem;
}

.navRight {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navRight li {
  width: 7rem;
  padding: 1rem;
}

.calculator-grid, .calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(4, 100px);
}

.calculator {
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.calculator-grid {
  margin-top: 2rem;
  background-color: rgb(199, 192, 162);
  height:min-content;
  border-radius: 0.5rem;
}

.calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(85, 39, 5, 0.5);
  border-radius: 0.5rem;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  height: 15rem;
  width: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, .75);
  color: rgb(199, 192, 162);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
}

.output h3 {
  justify-content: flex-start;
  font-size: 2.5rem;
  margin: 0.5rem;
}

.output .previous-operand {
  color: rgba(199, 192, 162, .75);
  font-size: 1.5rem;
  height: 3rem;
  margin: 0.5rem;
}

.output .current-operand {
  font-size: 2.5rem;
  height: 3rem;
  margin: 0.5rem;
}